* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a:hover{
  text-decoration: none;
}
.container {
  max-width: 90%;
  margin: auto;
  text-align: center;
}
.title_top {
  font-size: 40px;
  font-weight: 700;
  position: relative;
  padding-bottom: 30px;
}
.title_top::before {
  position: absolute;
  content: "";
  margin: 0 auto;
  width: 60px;
  height: 2px;
  background-color: #707070;
  bottom: 14px;
  right: 50%;
  transform: translateX(50%);
}
.title_top::after {
  position: absolute;
  content: "";
  margin: 0 auto;
  width: 60px;
  height: 2px;
  background-color: #707070;
  bottom: 0.5rem;
  right: 48%;
  transform: translateX(50%);
}
.title_top span {
  color: #ff6e65;
}

.title_bot {
  font-size: 1rem;
  color: #707070;
}
@media (max-width: 992px) {
  .container {
    margin: 0 auto;
    max-width: 900px;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 720px;
  }
}
@media (max-width: 575px) {
  .container {
    margin: 0 auto;
    max-width: 550px;
  }
}
/* header */
/* navigation styling */

.fixed-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.05);
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  color: #0d369f;
  font-weight: 600;
  transition: 0.3s;
}
.navbar .navbar-brand span {
  font-weight: bold;
  border: 2px solid #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  text-align: center;
  margin-right: 2px;
}
a.navbar-brand:hover {
  color: #ff6e65;
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
.navbar-expand-lg .navbar-nav .nav-link:hover {
color: #ff6e65;
}
.navbar-expand-lg .navbar-nav .nav-link {
padding: 6px 0;
font-size: 16px;
color: #060606;
font-weight: 600;
text-transform: uppercase;
}
.navbar-expand-lg a.nav-link.donate.btn.btn-style {
display: block;
padding: 0px 30px;
color: #fff;
height: 46px;
font-size: 16px;
line-height: 42px;
text-transform: uppercase;
font-weight: 600;
transition: 0.3s ease-in;
border-radius: 4px;
}
a.dropdown-item {
font-size: 16px;
color: #060606;
padding: 5px 24px;
font-weight: 600;
text-transform: uppercase;
}
a.dropdown-item:hover {
color: #ff6e65;
background: none;
}
a.dropdown-item.active {
background: transparent;
color: #0d369f;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
transform: translateX(-50px);
background: #fff;
border: 1px solid transparent;
box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu:before {
content: '';
width: 14px;
height: 14px;
background: #fff;
border: 1px solid transparent;
display: block;
border-right: none;
border-bottom: none;
transform: translateX(-50%) rotateZ(45deg);
position: absolute;
top: -7px;
left: 49%;
z-index: 1001;
}
header {
background-color: transparent;
padding: 0px;
transition: all 0.4s ease 0s;
height: 90px;
display: grid;
align-items: center;
}
header.nav-fixed {
  padding: 0px;
  border-bottom: none;
  z-index: 999 !important;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  height: 70px;
}
header.nav-fixed nav.navbar.navbar-expand-lg.stroke {
  box-shadow: none;
  border-radius: 0px;
  padding: .5rem 1rem;
}
.navbar-nav .show>,
.navbar-nav .nav-link.show {
  color: #7C6A6A;
}
nav ul li {
  display: inline-block;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #fff;
} 
.navbar-nav .nav-link:focus {
  color: #ff6e65;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  min-width: 12rem;
  padding: 1rem 0;
}
.nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
  color: #060606;
}
.nav-fixed .navbar-brand {
  color: #0d369f;
}
.nav-fixed .navbar-brand span {
  border: 2px solid #333;
}
.nav-fixed .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #0d369f;
}
.nav-fixed .navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
.nav-fixed .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #ff6e65;
}
.navbar .search-right {
  margin: 0 10px 0 10px;
}
.navbar form.search-box {
  display: flex;
  align-items: center;
}
.navbar form.search-box input {
  font-size: 15px;
  color: #060606;
  border: none;
  background: transparent;
  padding: 10px 35px 10px 14px;
  width: 100%;
  border-radius: 30px;
  border: 2px solid #eee;
}
.nav-fixed .navbar form.search-box input {
  border: 2px solid #eee;
  color: #060606;
}
button.search-btn {
  position: absolute;
  color: #0d369f;
  right: 0;
  padding: 8px 12px 8px 2px;
  background-color: transparent;
}
button.search-btn:hover {
  color: #ff6e65;
}
@media only screen and (max-width: 1440px) {
  .navbar-expand-lg .nav_btn>li {
    padding: 0;
  }
}
@media only screen and (max-width: 1199px) {
  .navbar-expand-lg .btn-gradient {
    padding: 10px 20px;
    font-size: 14px;
  }
  .navbar-expand-lg .navbar-nav.nav_btn>li {
    margin-left: 0px;
  }
  .navbar-expand-lg .navbar-nav.nav_btn a.btn {
    padding: 10px 20px;
  }
  .navbar-expand-lg .navbar-nav.nav_btn a {
    font-size: 14px;
    padding: 0px;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 8px;
  }
}
@media only screen and (max-width: 1080px) {
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 4px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 6px 6px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .navbar form.search-box input {
    color: #111;
  }
  .navbar form.search-box input {
    border: 1px solid #eee;
  }
  .navbar .navbar-brand img {
    max-width: 54px;
  }
  .navbar-toggler {
    border: 0 none;
    font-size: 24px;
  }
  .navbar-nav {
    -webkit-animation-name: none;
    animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    background: #fff;
    padding: 20px;
    margin-top: 16px;
    box-shadow: 0 6px 19px rgba(0, 0, 0, 0.05);
  }

  .navbar-nav:last-child {
    border: 1px solid transparent;
  }

  .navbar-expand-lg .navbar-nav .nav-item {
    -webkit-animation-name: none;
    animation-name: none;
    padding: 8px 0;
  }
  .navbar-expand-lg .navbar-nav.nav_btn>li {
    padding-bottom: 10px;
  }
  .navbar-nav .dropdown-menu {
    text-align: center;
  }
  .navbar-nav .dropdown-menu .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
    bottom: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 2px 10px;
    text-align: center;
    font-size: 15px;
  }

  header {
    height: auto;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
    border: 1px solid #eee;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu:before {
    border: 1px solid #eee;
    border-right: none;
    border-bottom: none;
  }
  header.nav-fixed {
    height: auto;
    padding: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: block;
    color: #060606;
  }
  .navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: #272121;
    border-radius: 4px;
    text-align: center;
  }
  .navbar-toggler-icon.fa {
    font-size: 20px;
    line-height: 1.2em;
    color: #fff;
    background: #0d369f;
    line-height: 34px;
  }

  .navbar-toggler {
    padding: 0rem 0rem !important;
  }

  .navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
  .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #0d369f;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-expand-lg a.nav-link.donate.btn.btn-style {
    display: inline-block;
    padding: 0px 40px;
  }

  button.navbar-toggler .icon-close {
    display: block;
  }

  button.navbar-toggler .icon-expand {
    display: none;
  }

  button.navbar-toggler.collapsed .icon-close {
    display: none;
  }

  button.navbar-toggler.collapsed .icon-expand {
    display: block;
  }
#navbarTogglerDemo02.collapsed {
  display: none !important;
}
  .cont-ser-position {
    position: absolute;
    right: 50px;
    top: 22px;
  }

  .navbar,
  header.nav-fixed nav.navbar.navbar-expand-lg.stroke {
    padding: 0.5rem 0rem;
  }

  .top-header {
    display: none;
  }

  .fixed-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
  }

  header {
    background: #fff;
  }
}

@media only screen and (max-width: 480px) {
  .navbar .navbar-brand {
    font-size: 28px;
  }

  .navbar .navbar-brand span {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  a.navbar-brand i {
    font-size: 28px;
  }

  .cont-ser-position {
    right: 45px;
  }

  header.nav-fixed nav.navbar.navbar-expand-lg.stroke {
    padding: .5rem 0rem;
  }
}

@media only screen and (max-width: 380px) {
  a.navbar-brand i {
    font-size: 24px;
  }

  .navbar .navbar-brand {
    font-size: 24px;
  }

  .navbar .navbar-brand img {
    max-width: 38px;
  }

  .navbar .navbar-brand span {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}
/* //navigation styling */
/* //header  */

/*top header  */
.top-header {
  background: #0d369f;
  padding: 14px 15px;
}
.top-header .top-headers li a,
.top-header .top-headers li {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.top-header .top-headers li a:hover {
  color: #ff6e65;
}

.top-header .top-headers li i {
  margin-right: 8px;
}

.top-header .top-headers li {
  display: inline-block;
  margin-right: 2em;
}

@media only screen and (max-width: 780px) {
  .top-header .top-headers li {
    margin-right: 1em;
  }
}

@media only screen and (max-width: 680px) {
  .top-content {
    display: block !important;
  }

  .top-headers-2 {
    margin-top: 4px;
  }

  .top-headers {
    text-align: center;
  }

  .top-header {
    padding: 14px 0px;
  }
}

@media only screen and (max-width:390px) {
  .top-header .top-headers li {
    margin-right: .5em;
  }
}

@media only screen and (max-width:380px) {
  .cont-ser-position {
    top: 17px;
  }  
  .top-header .top-headers li i {
    margin-right: 4px;
  }
}
/* //top headers */
/* button style */
.btn-style {
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  color: #060606;
  border-radius: 4px;
  background: #fff;
  border: none;
  transition: all .25s ease-in-out;
}

.btn-style:hover,
.btn-style-secondary {
  background: #ff6e65;
  color: #fff;
  transition: 0.3s ease-out;
}

.btn-style-secondary:hover {
  background: #0d369f;
  color: #fff;
  transition: 0.3s ease-out;
}

.btn-style-primary {
  color: #ff6e65;
  padding: 0;
  background: transparent;
  font-size: 14px;
}

.btn-style-primary:hover {
  color: #0d369f;
  background: transparent;
}
/* //button style */
/* title style */
.title-heading-w3 {
  max-width: 700px;
}
h3.title-main,
h3.title-main-2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}

h3.title-main span {
  color: #ff6e65;
}

h3.title-main:before,
h3.title-main:after {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}

h3.title-main:before {
  left: -20px;
  bottom: -8px;
}

h3.title-main:after {
  left: 20px;
  bottom: -15px;
}

@media (max-width: 480px) {

  h3.title-main,
  h3.title-main-2 {
    font-size: 35px;
    line-height: 45px;
  }
}

@media (max-width: 410px) {

  h3.title-main,
  h3.title-main-2 {
    font-size: 30px;
    line-height: 40px;
  }
}
/* //title style */ 

/* banner */
.main-slider li {
  list-style-type: none;
}
.main-slider .banner-info-bg ul li {
  display: inline-block;
  margin-right: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color);
}

.main-slider .banner-info-bg h6 {
  font-size: 36px;
  margin-bottom: 14px;
  color: #fff;
}

.main-slider .banner-info-bg h5 {
  font-size: 70px;
  line-height: 80px;
  font-weight: bold;
  color: #fff;
}

.main-slider .banner-info-bg h5 span {
  font-weight: 300;
  display: block;
}

.main-slider .banner-info-bg p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.main-slider .banner-info-bg ul {
  margin: 24px 0;
}

.main-slider .banner-info-bg span.fa {
  color: #0d369f;
}

.main-slider ul.banner-ul span.fa {
  color: var(--para-color);
}

.main-slider .banner-info-bg {
  max-width: 600px;
}

.main-slider p.text-label {
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.main-slider .banner-slider {
  position: relative;
  z-index: 1;
}

.main-slider .slider-info a img {
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
}

.main-slider .companies20-content {
  position: relative;
}

.main-slider .banner-view {
  background: url(images/banner2.jpeg) no-repeat top right;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
  min-height: 90vh;
}

.main-slider .banner-top1 {
  background: url(images/banner3.jpg) no-repeat center right;
  background-size: cover;
}

.main-slider .banner-top2 {
  background: url(images/banner3.jpg) no-repeat center;
  background-size: cover;
}

.main-slider .banner-top3 {
  background: url(images/banner3.jpg) no-repeat center;
  background-size: cover;
}

.main-slider .banner-view:before {
  content: "";
  background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 1200px) {
  .main-slider .banner-info-bg h5 {
    font-size: 57px;
    line-height: 67px;
  }
}

@media (max-width: 992px) {
  main-slider .banner-info-bg h5 {
    font-size: 50px;
    line-height: 60px;
  }

  .main-slider .owl-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .main-slider .banner-info-bg h5 {
    font-size: 45px;
    line-height: 55px;
  }
}

@media (max-width: 415px) {
  .main-slider .banner-info-bg h5 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 366px) {
  .main-slider .banner-info-bg h5 {
    font-size: 38px;
    line-height: 48px;
  }
}
@media (max-width: 568px) {

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}
}
.owl-carousel {
  display: none;
  width: 100%;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  border: none;
  display: none;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@media (max-width: 568px) {

  .owl-carousel .owl-dots.disabled,
  .owl-carousel .owl-nav.disabled {
    display: none;
  }
}
.owl-dots {
  margin-top: 0px;
  position: absolute;
  right: 24px;
  bottom: 120px;
  background: none;
}

.testimonials .owl-dots {
  margin-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  background: none;
}
.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default;
}

.owl-theme .owl-dots .owl-dot {
  display: block;
  zoom: 1;
  background: transparent;
}

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 2px;
  background: #fff;
  display: block;
  /* -webkit-backface-visibility: visible; */
  transition: opacity .2s ease;
  border-radius: 30px;
  position: relative;
}

.testimonials .owl-theme .owl-dots .owl-dot span {
  background-color: #0d369f;
  opacity: .2;
}

.testimonials .owl-theme .owl-dots .owl-dot.active span,
.testimonials .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #0d369f;
  opacity: .5;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ff6e65;
}

@media all and (max-width: 640px) {
  .owl-dots {
    margin-top: 30px;
  }

  button.owl-next,
  button.owl-prev {
    position: absolute;
    bottom: 38%;
  }
}


/* banner bottom section */
.bottom-grids-6 {
  position: relative;
  margin-top: -4em;
}

.bottom-grids-6 .area-box {
  padding: 50px 35px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  background-color: #fff;
}

.bottom-grids-6 .area-box.color-1 {
  background-color: #037ef3;
}

.bottom-grids-6 .area-box.color-2 {
  background-color: #ffc949;
}

.bottom-grids-6 .area-box.color-3 {
  background-color: #ff4f81;
}

.bottom-grids-6 .area-box.color-4 {
  background-color: #1ee697;
}

.bottom-grids-6 .area-box i {
  font-size: 45px;
  color: #fff;
}

.bottom-grids-6 h4 a.title-head {
  margin-top: 25px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

.bottom-grids-6 h4 a.title-head:hover {
  color: #000;
}
@media (max-width: 1199px) {
  .bottom-grids-6 h4 a.title-head {
    margin-top: 20px;
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .bottom-grids-6 h4 a.title-head {
    font-size: 25px;
  }
}
@media (max-width: 430px) {
  .bottom-grids-6 h4 a.title-head {
    font-size: 23px;
  }
}

@media (max-width: 415px) {
  .bottom-grids-6 .area-box {
    padding: 40px 30px;
  }

  .bottom-grids-6 h4 a.title-head {
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
}
/* //banner bottom section */
/* welcome section */
.feature-8 .feature-images span {
  color: #037ef3;
  font-size: 30px;
  background: rgb(13 54 159 / 9%);
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
}
.feature-8 h3.feature-titel {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}
.feature-8 p.feature-text {
  margin-top: 15px;
}
.feature-info a:hover h3.feature-titel {
  color: #ff6e65;
  text-decoration: none;
}

/* //welcome section */
/* courses section */
.grids-block-5 {
  background: #f8f9ff;
}
.grids-block-5 .blog-card-single:hover {
  box-shadow: 0px 15px 30px rgb(29 23 77 / 8%);
}
.grids-block-6 {
  background: #060606;
}
.grids-block-5 .content-main-top h4 a {
  color: #060606;
  font-size: 22px;
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  transition: 0.3s;
}
.grids-block-5 .content-main-top h4 a:hover {
  color: #ff6e65;
  text-decoration: none;
}

.grids-block-5 .grids5-info img {
  display: block;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.grids-block-5 .content-main-top {
  padding: 20px;
  border: 1px solid #eee;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #fff;
}

ul.rating-list li {
  display: inline-block;
}

ul.rating-list li a {
  color: #ffc949;
  font-size: 15px;
}

ul.rating-list li a.review-color {
  color: #060606;
}

.meta-list {
  position: absolute;
  left: 30px;
  top: 15px;
}

.meta-list a {
  background: #1DC295;
  display: inline-block;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  color: #FFFFFF !important;
  text-transform: capitalize;
  display: inline-block;
  margin-right: 5px;
}

.meta-list a:nth-child(odd) {
  background-color: #FFA100;
}

.meta-list a:nth-child(3) {
  background: #037ef3;
}

.course-price-item {
  position: absolute;
  right: 25px;
  bottom: -15px;
}

.course-price-item h6 {
  border-radius: 100px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #ff6e65;
  color: #FFFFFF;
  box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);
  min-width: 70px;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-top li {
  color: #060606;
}

.content-top li i {
  color: #ff6e65;
}

.top-content-border {
  border-top: 1px solid #eee;
}
/* //courses section */
/* grids section */
.homeblock1 .services-ab {
  background: url(images/bg3.jpg) no-repeat bottom;
  background-size: cover;
}
.homeblock1 .fea-gd-vv h5 {
  font-size: 20px;
  line-height: 30px;
  color: #060606;
  font-weight: 600;
  margin-bottom: 6px;
}
.homeblock1 .feature-gd {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
}
.homeblock1 .icon {
  margin-right: 1em;
}
.homeblock1 .icon i {
  background: #037ef3;
  color: #037ef3;
  font-size: 28px;
  background: rgb(13 54 159 / 9%);
  width: 65px;
  height: 66px;
  line-height: 65px;
  border-radius: 50%;
  text-align: center;
} 
@media (max-width: 736px) {
  .homeblock1 h4 {
    font-size: 28px;
    line-height: 35px;
  }
}
@media (max-width: 384px) {
  .homeblock1 h4 {
    font-size: 28px;
    line-height: 34px;
  }
  .homeblock1 .feature-gd {
    grid-template-columns: auto;
  }
}
/* //grids section */
/* start stat */
.stat .container h1 {
  font-size: 40px;
  font-weight: 700;
}
/* .stat .stat_number{
    display: flex;
    justify-content: space-between;
} */
.stat .stat_number .number_item {
  border-right: #707070 0.8px solid;
  text-align: center;
  padding: 0px 30px;
}
.stat .stat_number .number_item h3 {
  font-size: 16px;
}
/* end stat */
/* start testimonial */

.testimonial_container {
  background-color: white;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 8px;
  color: #707070;
}
.testimonial_container .quote {
  padding-bottom: 2rem;
  text-align: left;
}
.testimonial_container .quote q::before {
  font-size: 50px;
  color: #ff6e65;
  font-family: initial;
  line-height: 0.8;
  padding-top: 8px;
  display: inline-block;
}
.testimonial_container h3 {
  font-size: 1.25rem;
  color: black;
  text-align: left;
}
.testimonial_container p {
  font-size: 1rem;
  text-align: left;
}
.testimonial_container .d-flex img {
  width: 60px;
}
/* end testimonial */

/* start team */
#team .item_container {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 8px;
  color: #707070;
}
#team .item_container img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}
#team .item_container .name a {
  text-decoration: none;
  color: black;
}
#team .item_container .picture {
  position: relative;
  overflow: hidden;
  /* z-index: 2; */
}

#team .item_container .picture .overlay {
  position: absolute;
  background-color: #7070706c;
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0px);
  transition: 0.5s all;
}
#team .item_container:hover.item_container .picture .overlay {
  transform: translateY(-100%);
}

#team .item_container .picture .overlay a {
  text-decoration: none;
}

#team .item_container .picture .overlay .icon i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: white;
  color: #0d369e;
}
#team .item_container:hover.item_container .name a {
  color: #ff6e65;
  transition: all 0.3s;
}
/* end team */
/* start about */
#about .container {
  padding-bottom: 200px;
}
#about .title {
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
}
#about .content {
  width: 90%;
}
#about .btn-style {
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  border-radius: 4px;
  background: #ff6e65;
  border: none;
  transition: all 0.25s ease-in-out;
}
#about .btn-style:hover {
  background-color: #0d369e;
}
/* end about */
/* start information */
footer {
  background-color: #060e1f;
  position: relative;
  padding-top: 150px;
  text-align: left;
  padding-bottom: 90px;
}
footer .information {
  text-align: left;
  text-decoration: none;
}
footer .subscribe {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -122px;
  text-align: left;
}
footer .subscribe form {
  display: flex;
}
footer .subscribe form .form-group {
  width: 75%;
}
footer .subscribe .form-control {
  height: 60px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
footer .subscribe form button {
  width: 25%;
  height: 60px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #0d369f;
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
footer .information-container h5 {
  color: white;
  border-bottom: 1px solid #09182d;
}
footer .information-container {
  color: white;
}
footer .information-item {
  color: #cecece;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  color: #cecece;
  transition: 0.3s all;
}
footer ul li a:hover {
  color: white;
  text-decoration: none;
}
footer .item_about {
  border-left: 1px solid #242c39;
}
footer .information-item .social li {
  display: inline;
  margin-right: 8px;
}
footer .information-item .social li i {
  height: 32px;
  width: 32px;
  line-height: 32px;
  background-color: #151c2c;
  border-radius: 50%;
  text-align: center;
  color: white;
}
@media (max-width: 992px) {
  footer .subscribe {
    margin: 0 1em;
    padding: 30px 30px;
    top: -102px;
  }
  footer .item_about {
    border-left: none;
  }
}
@media (max-width: 872px) {

  footer .item_about {
    border-left: none;
  }
  footer .subscribe {
    
    padding: 30px 30px;
    top: -126px;
  }
}
@media (max-width: 768px){
  footer .subscribe {
    
    padding: 30px 30px;
    top: -140px;
  }
}
@media (max-width: 575px) {
  footer {
    padding-top: 250px;
  }
  footer .item_about {
    border-left: none;
  }
  footer .subscribe {
    padding: 30px 10px;
    top: -194px;
  }
  footer .subscribe form {
    display: block;
  }
  footer .subscribe form .form-group {
    width: 100%;
  }
  footer .subscribe .form-control {
    height: 60px;
    border-radius: 8px;
  }
  footer .subscribe form button {
    width: 100%;
    height: 60px;
    border-radius: 8px;
  }
}

/* end information */
/* dark mode btn and theme */
.dark-mode-btn .fa-moon{
  display: block;

}
.dark-mode-btn .fa-sun{
  display: none;


}
.dark-mode-btn {
  width: 42px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
/* .dark-mode-btn {
  width: 42px;
  height: 30px;
  line-height: 30px;
  text-align: center;
} */
.dark {
  color: white;
  background-color: #060e1f;
}
.dark .dark-mode-btn .fa-moon{
  display: none;
}
.dark .dark-mode-btn .fa-sun{
  display: block;
}
.dark .subscribe{
  background-color:#101c35 ;
}
.dark #team .item_container{
  background-color:#101c35 ;
}
.dark #team h3.name a {
  color: white;
  
}
.dark .testimonial_container{
  background-color:#101c35 ;
  color: rgb(212, 209, 209);
}
.dark .testimonial_container h3.name{
  color: white;
}
.dark .stat .container p.title_bot{
  color: rgb(212, 209, 209);
}
.dark .homeblock1 .col-md-6 .feature-gd{
  background-color:#101c35 ;
  color: white;
  ;
}
.dark .homeblock1 .icon i{
  color: white;
}
.dark .homeblock1 .fea-gd-vv h5{
  color: white;
}
.dark .grids-block-5{
  background-color: #060e1f;
}
.dark .grids-block-5 .content-main-top{
  background-color: #152850;
  color: white;
}
.dark .grids-block-5 .content-main-top h4 a{
  color: white;
}
.dark .grids-block-5 .content-top li{
  color: white;
}
.dark .fixed-top{
  color: white;
  background-color: #060e1f;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 20%);
}
.dark .navbar-nav .nav-link{
  color: white ;
}
.dark .navbar-nav{
  background-color: #060606;
}
.dark .nav-item.active .nav-link, .navbar-expand-lg .navbar-nav li.active{
  color:#ff6e65 !important;
}
.dark .navbar .navbar-brand{
  color: white;
}

/* darkmode btn */